
body {background-color: rgb(8, 0, 34); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


h1, h2 {color: #0f77ff}

header {display: flex; justify-content: space-around; vertical-align: center;}

.link_button {background-color: #0f77ff; border: none; border-radius: 20px; color: white; padding: 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 15px; cursor: pointer; width: 120px}

.link_button:hover {color: black; background-color: #77C2FF;}

.divheader {height: 65px; width: 100%; position:fixed; z-index:2; background-color: #131031; top: 0; left: 0; padding-top: 20px;}

.divconteudo {color: white; position: relative; z-index: 1; margin: 0 13% 0 13%}

#imgperfil {float: right}

.linkportfolio {color: #77C2FF; text-decoration: none;}
.linkportfolio:visited {color:#77C2FF}

#pform {text-align: center;}
form {text-align: center;}

#nome {width: 270px;}
#email {width: 270px;}

.anchor {scroll-margin-top: 100px;}

@media screen and (max-width:768px) {
    .link_button {width: 65px; font-size: 13px; padding: 7px}
    .divconteudo {margin: 0 0 0 0}
    .divheader {padding-top: 36px;}
}