
body {background-color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


h1, h2 {color:green}

header {display: flex; justify-content: space-around; vertical-align: center;}

.link_button {background-color: green; border: none; border-radius: 20px; color: black; padding: 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 15px; cursor: pointer; min-width: 150px; max-width: 150px}

.link_button:hover {color: black; background-color: lightgreen;}

.divheader {height: 65px; width: 100%; position:fixed; z-index:2; background-color: rgb(37, 37, 37); top: 0; left: 0; padding-top: 20px;}

.divconteudo {color: white; position: relative; z-index: 1}

#imgperfil {float: right}

.linkportfolio {color: lightgreen;text-decoration: none;}
.linkportfolio:visited {color:lightgreen}

#pform {text-align: center;}
form {text-align: center;}

#nome {width: 270px;}
#email {width: 270px;}

.anchor {scroll-margin-top: 100px;}





